.App {
  text-align: center;
}

header{
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 10px;
}

.logo {
  height: 7vh;
  pointer-events: none;
}